html
	body
		include header.pug
		script(src="https://code.jquery.com/jquery-1.12.4.js")
		script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
		section
			-
			if user 
				h2 Jouw favorieten
			else
				h2 Dit zijn de keuzes van Sander Oostenbrink
			ul
				- for (var x = 0; x < data.length; x++)
						li(data-id=data[x]._id)
							img.image(src=data[x].poster)
							span= x+1
							p= data[x].title
							if user
								button(data-id=data[x]._id, class="delete")
									i(data-id=data[x]._id, class="fas fa-trash-alt")
			if user && data.length < 5
				a(href="/add") Voeg een serie/film toe +
	footer
		include footer.pug